<h4>Formularios <small>Reactivos</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardar()">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">
        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [class.is-invalid]="validationName">
        <small *ngIf="validationName" class="text-danger">
          Ingrese 2 letras
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">
        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [class.is-invalid]="validationLastname"
        >
        <small *ngIf="validationLastname" class="text-danger">
          Campo obligatorio
        </small>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">
      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             [class.is-invalid]="validationMail"
             formControlName="correo">
      <small *ngIf="validationMail" class="text-danger">
        Ingrese el correo
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">
      <input class="form-control"
             type="password"
             placeholder="Contraseña"
             formControlName="pass1"
             [class.is-invalid]="pass1NoValid"
      >
      <small *ngIf="validationLastname" class="text-danger">
        Campo obligatorio
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Verifique su contraseña</label>
    <div class="col">
      <input class="form-control"
             type="password"
             placeholder="Contraseña"
             formControlName="pass2"
             [class.is-invalid]="pass2NoValid"
      >
      <small *ngIf="validationLastname" class="text-danger">
        Campo obligatorio
      </small>
    </div>
  </div>
  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Direccion</label>
    <div class="form-row col">
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="distrito"
               formControlName="distrito"
               [class.is-invalid]="validationDistrito"
               >
      </div>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Ciudad"
               formControlName="ciudad"
               [class.is-invalid]="validationCity"
               >
      </div>
      <small *ngIf="validationMail" class="text-danger">
        Ingrese la dirección
      </small>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Pasatiempos</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let control of pasatiempos.controls; let i = index">
            <td>{{i + 1}}</td>
            <td>
              <input type="text"
                     class="form-control"
                     [formControlName]="i">
            </td>
            <td>
              <button class="btn btn-danger" type="button" (click)="borrarPasatiempo(i)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary mt-3 mb-5 btn-block" type="button" (click)="agregarPasatiempo()">
       + Agregar
      </button>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
</form>

<pre>
  estado: {{forma.valid}}
  Status: {{forma.status}}
</pre>

<hr>

<pre>
  {{forma.value | json}}
</pre>
